

<div class="global">


  <div class="login-form ">

      <h2 class="text"> Login </h2>

      <form class="field" >

          <input [(ngModel)]="user.email" name="email" type="email" placeholder="E-mail" Class="">

          <input [(ngModel)]="user.password"  name="password"type="password" placeholder="Password" Class="mt-3"  >

          <button   class="" (click)="login()">Login</button>

         <span class="link">Not a member? &nbsp;</span><a routerLink="/register" class="">Signup now</a>
      </form>

  </div>

</div>
