<div class="card mt-5 p-3">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Witz</th>
          <th>rating</th>
          <th>user</th>
          <th>created at :</th>
          <th>Updated at :</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of witz.slice(0,10); let i = index">
          <td>{{ i + 1 }}</td>
          <td innerHTML="{{item.jokeText}}"></td>
          <td>{{ item.rating }}</td>
          <td>{{ item.idUser }}</td>
          <td>{{ item.createdAt }}</td>
          <td>{{ item.updatedAt }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
