<<<<<<< HEAD
.custom-toggler {
    background-color: #cec7c733;
   
  }
=======
.custom-toggler {
    background-color: #cec7c733;
   
  }
  a{color: aliceblue;}
.pos{text-align: right;}
>>>>>>> fc8dbe7735317c426b92c6ddc218505b67b81aba
