<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-light"  routerLink="/home" >spaßvogel</a>
    <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse item" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item " *ngIf="_auth.isLoggedIn() == false">
          <a class="nav-link active text-light" aria-current="page" routerLink="/login">Login</a>
        </li>
        <li class="nav-item" *ngIf="_auth.isLoggedIn() == false">
          <a class="nav-link active text-light" routerLink="/register">Register</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active text-light" routerLink="/top10">Top10Witze</a>
        </li>
        <li class="nav-item active text-light" *ngIf="_auth.isLoggedIn() == true">
          <a class="nav-link active text-light" routerLink="/profile">Profile</a>
        </li>
        <li class="nav-item active text-light" *ngIf="_auth.isLoggedIn() == true">
          <a class="nav-link active text-light" routerLink="/profile" (click)="_auth.logout()">logout</a>
        </li>
        <li class="nav-item" *ngIf="_auth.isAdmin() ">
          <a class="nav-link active text-light" routerLink="/admin" >Witze</a>
        </li>
      </ul>


    </div>
  </div>
</nav>

