/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
body {
    font-family: var(--font-family);
 
   
    background-image: url(https://media.discordapp.net/attachments/1060751573002768464/1143978287786360972/5784c6b5-7d9e-4ddc-9c00-180469a2bb36.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 100vh; /* Füllt den gesamten Bildschirm vertikal */

   
  }
  