

<div class="global">


  <div class="login-form">

      <h2 class="text"> Create Account </h2>

      <form class="field"   >

          <input name="username" type="text" placeholder="User name"  class="" >



          <input name="email" type="email" placeholder="E-mail"  class="mt-3">

          <input  name="password" type="password" placeholder="Password"  class="mt-3">
          <input type="file" placeholder="image"  class="mt-3" >

          <button     class="" >Signup</button>

          <a routerLink="/login" class="">Login to your account</a>
      </form>

  </div>

</div>
